/****** 빈 공간 띄우기 ******/
.blank-div {
  line-height: 60px;
  height: 60px;
}

/****** 드롭다운 ******/
.dropdownBtn .dropdown-toggle {
  background-color: white !important;
  border: 1.5px solid #00796b !important;
  border-radius: 5px !important;
  color: #00796b !important;
}

.dropdownBtn .dropdown-toggle:hover {
  background-color: #00796b !important;
  border: 1.5px solid #00796b !important;
  border-radius: 5px !important;
  color: #fafafa !important;
}
.dropdownBtn .dropdown-toggle:focus {
  box-shadow: 0px 0px 2px 5px #80cbc4;
}
.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

/****** 버튼 ******/
.confirmBtn {
  background-color: #00796b !important;
  border: 1.5px solid #00796b !important;
  border-radius: 5px !important;
  color: #fafafa !important;
  font-family: NamuB;
}
.confirmBtn:hover,
.inputBtn:hover {
  box-shadow: 0px 0px 2px 5px #80cbc4;
}

.searchBtn {
  margin-left: 10px !important;
}
.cancelBtn {
  background-color: #f5f5f5 !important;
  border: 1.5px solid #4e342e !important;
  border-radius: 5px !important;
  color: #4e342e !important;
  font-family: NamuB;
}
.cancelBtn:hover {
  background-color: #4e342e !important;
  color: #f5f5f5 !important;
}

.btn-warning {
  background-color: #00796b !important;
  color: white !important;
  font-family: NamuB;
  border: 1.5px solid #00796b !important;
}
.btn-warning:hover {
  background-color: #00695c !important;
  color: white !important;
  font-family: NamuB;
  border: 1.5px solid #00695c !important;
}

.btn-outline-danger {
  background-color: white;
}

/****** pagination ******/
.page-item.active .page-link {
  background-color: #00796b !important;
  border-color: #00796b !important;
  color: #ffffff !important;
}

.page-link {
  color: #00796b !important;
}

/****** input 버튼 ******/
.inputBtn {
  background-color: white !important;
  border: 1.5px solid #00796b !important;
  border-radius: 5px !important;
  color: #00796b !important;
}

/****** input ******/
.keywordInput {
  margin-right: 0px;
  margin-left: 10px;
  background-color: white !important;
  border: 1.5px solid #00796b !important;
  border-radius: 5px !important;
  color: #00796b !important;
}

/****** div ******/
.roundDiv {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 1px #e8e8e8;
}

.clicked {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

/***** b-table width *****/
table.b-table thead th.w10 {
  width: 10%;
}

table.b-table thead th.w8 {
  width: 8%;
}

table.b-table thead th.w6 {
  width: 6%;
}
table.b-table thead th.w70 {
  width: 70%;
}

.delBtnDiv {
  width: auto;
  height: auto;
}

.qnaTable {
  width: 92vw;
}

/***** modal *****/
.modal-header {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.modal-title {
  color: #fafafa;
  font-family: NanumBB;
  font-size: 2vw;
  padding-left: 5%;
}
.close {
  color: #fafafa;
  font-family: NanumBB;
  font-size: 2vw;
}
.close:hover {
  color: white;
}
.modal-body {
  background-color: #f5f5f5;
}

/***** modal *****/
.small_pie {
  max-width: 30vw;
}

.small_bar {
  max-width: 60vw;
  max-height: 30vh;
}

.grad-color {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  color: #fafafa;
}

.goMap {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  color: #424242;
  border: none;
}
.goMap:hover {
  color: #757575 !important;
}
