@font-face {
	font-family: NanumBB;
	src: url(../assets/NanumSquareEB.ttf);
}
@font-face {
	font-family: NanumB;
	src: url(../assets/NanumSquareB.ttf);
}
@font-face {
	font-family: NanumR;
	src: url(../assets/NanumSquareR.ttf);
}
@font-face {
	font-family: NanumL;
	src: url(../assets/NanumSquareL.ttf);
}